<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head}"></head>

<body>
    <!-- Search Wrapper Area Start -->
    <div th:replace="~{fragments/search :: search}"></div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div th:replace="~{fragments/menu :: mobile_header}"></div>

        <!-- Header Area Start -->
        <header th:replace="~{fragments/menu :: header}"></header>
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        <div th:replace="~{fragments/brands :: brands}"></div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script th:replace="~{fragments/scripts :: script}"></script>

</body>

</html>