<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
</head>

<body>

<div th:fragment="script">
    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
    <!-- Chat js -->
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
    <script th:src="@{/js/chat.js}"></script>
</div>

</body>

</html>