<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head></head>

<body>
    <div class="search-wrapper section-padding-100" th:fragment="search">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Укажите значение для поиска...">
                            <button type="submit"><img th:src="@{/img/core-img/search.png}" alt="searchIcon"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>