<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentsAdmin :: head}"></head>

<body class="bg-light">

<div th:replace="~{fragmentsAdmin :: header}"></div>

<div class="d-flex">

    <div th:replace="~{fragmentsAdmin :: menu}"></div>

    <div id="wrapper" class="container-fluid">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="text-danger" th:text="${httpStatus}"></h1>
                <h3 th:text="${entity}"></h3>
        </div>
    </div>

</div>

<div th:replace="~{fragmentsAdmin :: script}"></div>

</body>
</html>