<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentsAdmin :: head}"></head>

<body class="bg-light">

<div th:replace="~{fragmentsAdmin :: header}"></div>

<div class="d-flex">

    <div th:replace="~{fragmentsAdmin :: menu}"></div>

    <div class="content p-4">
        <h2 class="mb-4"> Добавление нового продукта </h2>

        <div class="card mb-4">
            <div class="card-body">
                <form action="#" th:action="@{/admin/product/add}" th:object="${product}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label>Наименование товара</label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="Введите наименование товара">
                        <label id="titleError" class="form-text text-error"
                               th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Validation error</label>
                    </div>
                    <div class="form-group">
                        <label>Цена</label>
                        <input type="text" class="form-control" th:field="*{cost}" placeholder="Введите цену продукта">
                        <label id="costError" class="form-text text-error"
                               th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Validation error</label>
                    </div>
                    <div class="form-group blu-margin">
                        <label>Брен</label>
                        <select class="form-control" id="brand" name="brand" th:field="*{brand}">
                            <option value="0">Выберите брен</option>
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Категории продуктов</label>
                        <div class="checkbox" th:each="category : ${categories}">
                            <label> <input th:value="${category.id}" name="categories" th:field="*{categories}" type="checkbox"/>
                                <span th:text="${category.name}"> Название категории </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPictures">Изображения продукта</label>
                        <input th:field="*{newPictures}" type="file" class="form-control" id="newPictures"
                               placeholder="Upload new product picture" multiple>
                    </div>
                    <a class="btn btn-primary" th:href="@{/admin/products}">Назад</a>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </form>

                <div class="container-fluid mb-4">
                    <div class="card-columns" style="column-count: 5">
                        <div class="card" th:each="picture : ${product.pictures}">
                            <div class="card-header">Изображение</div>
                            <img class="card-img-bottom" th:src="@{/admin/picture/{pictureId}(pictureId=${picture.id})}" width="40%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{fragmentsAdmin :: script}"></div>

</body>
</html>